<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h2>Registration</h2>
<body>
<form action="register" method="POST">
    {% csrf_token %}
      <input type='text' name="username" placeholder="Enter the username"><br>
    <input type='text' name="first_name" placeholder="Enter the first name"><br>
    <input type='text' name="last_name" placeholder="Enter the lastname"><br>
    <input type='email' name="email" placeholder="Enter the email"><br>
    <input type='password' name="password" placeholder="Enter the password"><br>
    <input type='password' name="cpassword" placeholder=" confirm password"><br>
    <input type='submit'>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>